* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Poppins", sans-serif;
}
nav {
  height: 70px;
  display: flex;
  padding: 20px 36px;
  box-shadow: 0px 3px 7.5px rgba(0, 0, 0, 0.1);
}

.lightGrey {
  color: #918e9b;
}

.boldBlack {
  color: #000;
  font-weight: bold;
}
.nav--logo {
  max-width: 100%;
}

section {
  padding: 20px;
}

.hero {
  max-width: 100%;
  display: flex;
  flex-direction: column;
}

.hero--image {
  max-width: 65%;
  padding: 2rem;
  align-self: center;
}

.hero--header {
  margin-bottom: 16px;
  font-size: 2.6rem;
}

.hero--text {
  align-self: flex-start;
  margin-top: 0;
  font-weight: 300;
  font-size: 1.3rem;
  line-height: 1.1;
}
.cards-list {
  display: flex;
  flex-wrap: nowrap;
  gap: 20px;
  overflow-x: auto;
}
.card {
  width: 11rem;
  font-size: 0.8rem;
  flex: 0 0 auto;
  display: flex;
  flex-direction: column;
}
.card--image {
  width: 100%;
  border-radius: 0.7rem;
  margin-bottom: 0.7rem;
}
.card--stats {
  display: flex;
  align-items: center;
}
.card--star {
  height: 1rem;
}
.card--price {
  margin-top: auto;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .hero--image {
    max-width: 100%;
  }
  .hero--header {
    font-size: 2rem;
  }
  .hero--text {
    font-size: 1rem;
    max-width: 80%;
    text-align: justify;
  }
}
/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .example {
    background: green;
  }
}
